/* CSS Custom Properties */
$highlight-color: #e63946;
$light-main-text-color: #1d3557;
$dark-main-text-color: #f1faee;
$color-grey0: #f8f8f8;
$color-grey-1: #dbe1e8;
$color-grey-2: #b2becd;
$color-grey-3: #6c7983;
$color-grey-4: #454e56;
$color-grey-5: #2a2e35;
$color-grey-6: #12181b;
$light-bg-color: #f1faee;
$dark-bg-color: #1d3557;
$secondary-bg-color: black;
$header-font: "Roboto Condensed", sans-serif, arial;
$paragraph-font: "Montserrat", sans-serif;
$transition-default: all 0.4s ease-in-out;
$box-shadow: 3px 3px 15px 0px black;
$box-shadow-on-hover: 5px 5px 15px 0px black;

// Media query breakpoints

// Small Devices (576px)
$mq-small: 36em;
// Med Devices (768px)
$mq-med: 48em;
// Lg Devices (992px)
$mq-lg: 62em;
// XL Devices (1200px)
$mq-xl: 75em;
// XXL Devices (1400px)
$mq-xxl: 87.5em;

// Custom classes
.highlight {
  color: $highlight-color;
}

/* Main CSS for Homepage */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $dark-bg-color;
  font-family: $paragraph-font;
  font-size: 1.1rem;
  color: $dark-main-text-color;
  transition: $transition-default;
}

header {
  height: 100vh;
  color: white;
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 10rem;
  background-color: $dark-bg-color !important;
  text-align: center;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  .section-title {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    grid-column-start: span 3;
    font-size: 2em;
    span {
      color: $highlight-color;
    }
    .section-title-background {
      position: absolute;
      z-index: -1;
      font-size: 3.5em;
      font-weight: 900;
      color: $color-grey-1;
      opacity: 0.05;
      margin-top: -0.15em;
      line-height: 80%;
    }
  }
}

/* Controls */
.controls {
  position: fixed;
  top: 30%;
  right: 3%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  .active-btn {
    background-color: $secondary-bg-color !important;
    transition: $transition-default;
    border: 1px solid white;
  }
  i {
    color: white;
  }
}

.control {
  padding: 1rem;
  margin: 0.7rem;
  cursor: pointer;
  background-color: $color-grey-2;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow;
  i {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.control-icon {
  font-size: 1.2rem;
  pointer-events: none;
  z-index: 5;
  width: 1.3rem;
  height: 1.3rem;
  padding: 0.5rem;
  margin: 0.2rem;
  color: $secondary-bg-color;
}

/* Tooltip */
.control {
  &:hover .tooltip {
    opacity: 1;
    margin-right: 120px;
    transform: rotate(0deg) scale(1);
    padding: 0.2em 2em 0.2em 0.4em;
    display: block;
  }
  &:hover .tooltip-home,
  &:hover .tooltip-about {
    margin-right: 90px;
  }

  &:hover .tooltip-services {
    margin-right: 105px;
  }
  &:hover .tooltip-contact {
    margin-right: 103px;
  }
  .tooltip {
    opacity: 0;
    display: none;
    position: absolute;
    margin-right: 4em;
    display: flex;
    justify-content: right;
    transition: $transition-default;
    background-color: $secondary-bg-color;
    padding: 0.2em 2em 0.2em 0.4em;
    z-index: -1;
    border-radius: 50px;
    transform: rotate(-90deg) scale(0.2);
    transform-origin: right;
    pointer-events: none;
  }
}
/* Sections  */

.section-info .divider {
  content: "";
  margin: 5em auto;
  display: flex;
  justify-content: center;
  width: 70%;
  height: 3px;
  background-color: $color-grey-6;
  max-width: 30em;
  opacity: 0.3;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: $transition-default;
  overflow: hidden;
  padding-bottom: 3em;
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: $light-bg-color;
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: $light-bg-color;
  .section-info {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5em;
    .about-section {
      display: flex;
      flex-direction: row;
      margin-bottom: 5em;
      margin-top: 5em;
      @media screen and (max-width: 780px) {
        flex-direction: column;
      }
      .triangleDots {
        position: absolute;
        top: 25%;
        right: 0;
        width: 40%;
        z-index: -1;
      }
      .about-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2em;
        @media screen and (max-width: 950px) {
          transform: translateY(-10%);
        }
        .about-text-heading {
          text-align: left;
          h3 {
            padding-left: 1rem;
            padding-right: 10px;
            font-size: calc(12px + 5vmin);
            span {
              color: $highlight-color;
            }
          }
        }
        .about-text-par {
          text-align: left;
          background-color: $color-grey-2;
          padding: 2rem;
          position: relative;
          width: 100%;
          box-shadow: -10px 10px 0px 0px $highlight-color;
          p {
            color: $dark-bg-color;
            font-weight: bolder;
            z-index: 5;
            span {
              color: $highlight-color;
            }
          }
          .about-text-chatbox {
            position: absolute;
            bottom: -10px;
            right: 89px;
            padding: 10px;
            .background {
              content: "";
              position: absolute;
              height: 0rem;
              width: 0rem;
              z-index: 0;
              top: -70px;
              right: -169px;
              border-top: 80px solid $color-grey-2;
              border-right: 80px solid transparent;
              border-bottom: 80px solid transparent;
              border-left: 80px solid transparent;
              transform: rotate(225deg);
              box-shadow: -6px -6px 0px 5px $highlight-color;
            }
            .backgroundTwo {
              border-top: 80px solid transparent;
              border-left: 80px solid $dark-bg-color;
              box-shadow: none;
              top: -54px;
              right: -186px;
              top: -75px;
              right: -169px;
              transform: rotate(225deg) scale(1.2);
            }
            img {
              height: 6rem;
              z-index: 2;
              position: absolute;
            }
          }
        }
      }
      .about-img {
        width: 100%;
        text-align-last: left;
        position: relative;
        display: flex;
        flex-direction: column;
        div {
          width: 100%;
          display: flex;
          flex-shrink: 0;
          flex-direction: column;
          img {
            max-height: 500px;
            min-height: 500px;
            flex-shrink: 0;
            width: 100%;
            object-fit: cover;
            z-index: 10;
            box-shadow: 10px 10px 0px 0px $highlight-color;
          }
          .about-mobile-background {
            height: 0rem;
            @media screen and (max-width: 780px) {
              content: "";
              height: 9rem;
              width: 100%;
              z-index: 0;
              box-shadow: 5px 5px 0px 5px $highlight-color;
              margin-top: -3rem;
            }
          }
        }
      }
    }
    .about-section-2 {
      flex-direction: row-reverse;
      margin-top: 8em;
      @media screen and (max-width: 780px) {
        flex-direction: column;
      }
      .about-sec2-text {
        .about-sec2-text-par {
          box-shadow: 10px 10px 0px 0px $highlight-color;
          .about-sec2-text-chatbox {
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateY(-1px);
            img {
              transform: rotate(270deg);
              left: 60px;
              top: 50px;
            }
            .background-sec2 {
              content: "";
              position: absolute;
              height: 0rem;
              width: 0rem;
              z-index: 0;
              top: -38px;
              left: -23px;
              right: 0px;
              border-top: 80px solid $color-grey-2;
              border-right: 80px solid transparent;
              border-bottom: 80px solid transparent;
              border-left: 80px solid transparent;
              transform: rotate(135deg);
              box-shadow: 6px -6px 0px 5px $highlight-color;
            }
            .backgroundTwo-sec2 {
              border-top: 80px solid transparent;
              border-left: 80px solid transparent;
              top: -54px;
              right: -186px;
              top: -63px;
              right: 0px;
              left: -25px;
              transform: rotate(135deg) scale(1.2);
              box-shadow: 6px 6px 0px 5px $dark-bg-color;
            }
            .backgroundThree-sec2 {
              content: "";
              height: 120px;
              width: 50px;
              left: 7px;
              bottom: -70px;
              position: absolute;
              background-color: $dark-bg-color;
            }
          }
        }
      }
      .about-sec2-img {
        div {
          .about-sec2-mobile-background {
            @media screen and (max-width: 780px) {
              box-shadow: -5px 5px 0px 5px $highlight-color;
            }
            box-shadow: -0px 0px 0px 0px $highlight-color;
          }
          img {
            box-shadow: -10px 10px 0px 0px $highlight-color;
          }
        }
      }
    }
    .about-section-3 {
      margin: 0 auto;
      margin-top: 6em;
      display: flex;
      justify-content: center;
      .about-section-3-text-container {
        padding: 3rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        background-color: $color-grey-2;
        box-shadow: 10px -10px 0px 0px $highlight-color,
          -10px 10px 0px 0px $highlight-color;
        p {
          color: $dark-bg-color;
          font-weight: bolder;
          span {
            color: $highlight-color;
          }
        }
      }
    }
  }
}

.section-info .divider {
  content: "";
  margin: 5em auto;
  display: flex;
  justify-content: center;
  width: 70%;
  height: 3px;
  background-color: $color-grey-6;
  max-width: 30em;
  opacity: 0.3;
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: $light-bg-color;
  .section-info {
    margin: 0 auto;
    max-width: 900px;
    .service-section {
      margin-bottom: 5em;
      margin-top: 7em;
    }
    .services-section-1 {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      margin-top: 6rem;
      @media screen and (max-width: 1000px) {
        & {
          flex-direction: column;
        }
      }
      .services-section-1-text {
        width: 100%;
        h3 {
          font-size: calc(12px + 5vmin);
          text-align: left;
          span {
            color: $highlight-color;
          }
        }
      }
      .services-section-1-svg {
        width: 100%;
        position: relative;
        height: 100%;
        min-height: 400px;
        img {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          padding-top: 2rem;
        }
        .servicesPage-phone {
          transition: 1s;
          transform: translateY(-50px);
        }
      }
    }
    .services-section-2 {
      .servicesContainer {
        min-height: 400px;
        .serviceContainer {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 100%;
          justify-content: center;
          margin-bottom: 2rem;
          &:nth-child(even) {
            flex-direction: row-reverse;
          }
          @media screen and (max-width: 1000px) {
            & {
              flex-direction: column;
            }
            &:nth-child(even) {
              flex-direction: column;
            }
          }
          .iconContainer {
            width: 100%;
            img {
              width: 100%;
            }
          }
          .textContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-self: center;
            text-align: left;
            @media screen and (max-width: 1000px) {
              text-align: center;
            }
            h3 {
              font-size: calc(12px + 3vmin);
              span {
                color: $highlight-color;
              }
            }
          }
        }
      }
    }
  }
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: $light-bg-color;
  .section-info {
    padding-top: 6em;
    .approach-steps {
      display: flex;
      width: 100%;
      justify-content: center;
      padding-top: 5em;
      i {
        align-self: center;
        font-size: xxx-large;
        color: $highlight-color;
      }
    }
    .approach-step {
      padding: 0.2em 2em;
      margin: 0em 1em;
      h1 {
        margin-bottom: 0.2em;
        color: $highlight-color;
      }
    }
    .approach-descriptions {
      max-width: 50em;
      margin: 0 auto;
      margin-bottom: 5em;
    }
    .approach-desc {
      display: flex;
      margin-bottom: 2em;
      padding: 1em;
      transition: $transition-default;
      border-radius: 5px;
      outline: 1px solid $dark-bg-color;
      &:hover {
        // test
        outline: 1px solid $highlight-color;
      }
      .steps-arrow {
        width: 3em;
        h1 {
          width: 2em;
          height: 2em;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: $color-grey-1;
          margin: 0 auto;
          color: $dark-bg-color;
          margin-bottom: 1em;
        }
        i {
          color: $highlight-color;
          font-size: 3em;
          height: 100%;
        }
      }
      .desc {
        text-align: left;
        margin-left: 1.5em;
        padding: 0.5em 1em 1em 1em;
        h1 {
          color: $highlight-color;
        }
      }
    }
  }
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: $light-bg-color;
}

.active {
  display: block;
  animation: scaleAnim 1s ease-in-out;
  @keyframes scaleAnim {
    0% {
      transform: translateY(-100%) scaleY(0);
    }
    100% {
      transform: translateY(0) scaleY(1);
    }
  }
}

.header-content {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  background-color: $dark-bg-color;
  .left-header {
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    .h-shape {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: $highlight-color;
      height: 100%;
      width: 65%;
      clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
    }
    .image {
      position: relative;
      height: 100vh;
      width: 100%;
      z-index: 5;
      display: flex;
      justify-content: center;
      overflow: hidden;
      margin-left: 3em;
      overflow: hidden;
      align-items: center;
      .imageEl {
        height: 80%;
        width: 75%;
        object-fit: cover;
        box-shadow: $box-shadow;
        // Hover test
        &:hover {
          filter: grayscale(0);
          box-shadow: $box-shadow;
        }
        @media screen and (max-width: 650px) {
          & {
            opacity: 0;
          }
        }
      }
    }
  }
  .right-header {
    width: 100%;
    min-width: 37em;
    padding-right: 13em;
    padding-left: 2em;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    .services {
      width: 100%;
      display: flex;
      align-items: center;
    }
    img {
      height: 10em;
      width: 10em;
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      display: block;
    }
    h2 {
      font-size: 2.5rem;
      font-weight: 400;
    }
    .txt {
      border-right: 0.1em solid $highlight-color;
    }
    span {
      color: $highlight-color;
    }
    .sub-title-highlighted-text {
      font-weight: bolder;
    }
    p {
      margin-top: 2em;
      font-size: 1.3rem;
      font-weight: 400;
    }
    .cta {
      margin-top: 2.8em;
      width: 15em;
      border: 1px solid $highlight-color;
      border-radius: 50px;
      transition: $transition-default;
      cursor: pointer;
      .cta-btn {
        display: flex;
        justify-content: space-between;
        font-size: larger;
        text-decoration: none;
      }
      .cta-txt {
        padding: 0.3em 0.3em;
        margin-left: 1em;
        font-weight: bolder;
        color: $highlight-color;
        transition: $transition-default;
        display: flex;
        justify-content: center;
        align-items: center;
        .arrow {
          opacity: 0;
          color: $secondary-bg-color;
          margin-left: 0em;
          transition: $transition-default;
        }
      }
      .cta-icon {
        font-size: 1.4rem;
        border: 1px solid $highlight-color;
        border-radius: 50%;
        padding: 0.5em 0.6em;
        background-color: $highlight-color;
        color: $secondary-bg-color;
        transition: $transition-default;
        transform: rotate(0deg) scale(1.03);
      }
      //   Hover test
      &:hover {
        background-color: $highlight-color;
        padding-left: 0.2em;
        .cta-txt {
          color: $secondary-bg-color;
        }
        .cta-icon {
          background-color: $secondary-bg-color;
          color: $highlight-color;
          transform: rotate(1080deg) scale(1.03);
        }
        .arrow {
          opacity: 1;
          margin-left: 0.8em;
        }
      }
    }
  }
}

/* Contact section */
.contact {
  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  $width-box: clamp(15em, min(30em, 90vw), 100vw);
  @media (min-width: $mq-med) {
    $width-box: clamp(15em, 45vw, 50vw);
  }
  $offset-x-left: calc(-10px - 0.390625vw);
  $offset-x-right: calc(10px + 0.390625vw);
  $offset-y-down: calc(10px + 0.390625vw);
  $offset-y-up: calc(-10px - 0.390625vw);
  padding: 0 1rem;
  padding-bottom: 3rem;
  width: 100%;
  margin: auto;
  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 0 2rem;
    @media (min-width: $mq-med) {
      grid-template-columns: 45% 45%;
      gap: 1rem;
      justify-items: center;
      align-items: start;
    }

    .section-title {
      grid-column: 1 / -1;
      font-size: 2rem;
      margin-top: 1rem;
    }

    .contact-header {
      grid-column: 1 / -1;
      margin: 1.5rem;
      font-size: 1.2rem;
      max-width: 40rem;
      a {
        text-decoration: none;
      }
    }

    .contact-text {
      margin: 1.5rem auto 4rem;
      background-color: $color-grey-2;
      color: $light-main-text-color;
      box-shadow: $offset-x-left $offset-y-down $highlight-color;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: max(390px, $width-box);
      width: $width-box;
      margin: 1em;
      padding: 1em;
      z-index: 5;
      font-size: 1.5rem;
      @media (min-width: $mq-med) {
        max-width: 100%;
        padding: 2rem;
      }
      .triangle {
        position: absolute;
        color: white;
        right: 0;
        bottom: 1px;
        translate: 50% 50%;

        border-color: transparent;
        border-bottom-color: $color-grey-2;
        border-width: calc($width-box / 6);
        border-style: solid;

        rotate: 45deg;
        z-index: 1;

        filter: drop-shadow(8px 8px $highlight-color);
      }
      .dots {
        position: absolute;
        background-image: url(../assets/triangleDots.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 3;
        right: calc($width-box / 50);
        bottom: calc($width-box / -50);
        width: calc($width-box / 6);
        height: calc($width-box / 6);
        translate: 0 100%;
      }
      .social-p {
        position: absolute;
        bottom: -1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        translate: -15% 100%;
        color: $color-grey0;
        @media (min-width: $mq-small) {
          translate: -20% 100%;
        }
      }
      .icon-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        color: white;
        right: 6%;
        z-index: 1000;
        bottom: -5%;
        rotate: 45deg;
        translate: 25% 125%;
        width: calc($width-box / 4);
        height: calc($width-box / 4);
        i {
          margin-top: 1rem;
          rotate: -45deg;
          cursor: pointer;
          font-size: calc(15px + 0.390625vw);
          transition: $transition-default;
          border-radius: 50%;
          &:hover {
            color: $highlight-color;
            outline: 1px solid $highlight-color;
            outline-offset: 0.5rem;
          }
        }
      }
    }

    #contact-form {
      /* reset */
      form input,
      form select,
      form textarea,
      form fieldset,
      form optgroup,
      form label,
      .StripeElement {
        font-family: inherit;
        font-size: 100%;
        color: inherit;
        border: none;
        border-radius: 0;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      form label,
      form legend {
        font-size: 0.825rem;
        margin-bottom: 0.5rem;
      }
      /* border, padding, margin, width */
      form input,
      form select,
      form textarea,
      .StripeElement {
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: rgba(255, 255, 255, 0.9);
        padding: 0.75em 1rem;
        margin-bottom: 1.5rem;
      }
      form input:focus,
      form select:focus,
      form textarea:focus,
      .StripeElement:focus {
        background-color: white;
        outline-style: solid;
        outline-width: thin;
        outline-color: gray;
        outline-offset: -1px;
      }
      form [type="text"],
      form [type="email"],
      .StripeElement {
        width: 100%;
      }
      form [type="button"],
      form [type="submit"],
      form [type="reset"] {
        width: auto;
        cursor: pointer;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
      }
      form [type="button"]:focus,
      form [type="submit"]:focus,
      form [type="reset"]:focus {
        outline: none;
      }

      form select {
        text-transform: none;
      }
      // end of reset

      position: relative;
      width: 90%;
      margin: calc($width-box / 3 + 2rem) 0 3rem 0;
      @media (min-width: $mq-med) {
        margin: 1rem auto 1rem 1rem;
      }
      background-color: $color-grey-2;
      padding: 1rem;
      &::after {
        position: absolute;
        content: "";
        inset: 0;
        translate: $offset-x-right $offset-y-down;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: $highlight-color;
      }
      fieldset {
        legend {
          font-size: 1.4rem;
          font-weight: bold;
          text-transform: uppercase;
          color: $color-grey-4;
        }
      }

      ul {
        list-style: none;
        label {
          font-weight: bold;
          display: block;
          margin-bottom: 0.5rem;
        }
        input,
        textarea {
          width: 90%;
        }
        textarea {
          min-height: 10rem;
        }
        textarea,
        input {
          font-size: 1.2rem;
          font-family: $paragraph-font;
        }

        & li + li {
          margin-top: 1em;
        }
        input:focus-visible,
        textarea:focus-visible {
          outline: 2px solid $highlight-color;
        }
        .btn {
          font-size: larger;
          button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem auto;
            width: min(80%, 300px);
            padding: 0.5rem 1rem;
            background-color: $dark-bg-color;
            border: 2px solid $highlight-color;
            border-radius: 50px;
            transition: $transition-default;
            &:hover {
              background-color: $highlight-color;
              border: 2px solid #000;
              .cta-text {
                color: #000;
              }
              .arrow {
                transform: translateX(0);
                opacity: 1;
              }
              .cta-icon {
                transform: rotate(1440deg);
                background-color: #000;
                color: white;
              }
            }
            .cta-text {
              padding: 0.3em 0.3em;
              font-weight: bolder;
              color: $highlight-color;
              transition: $transition-default;
              z-index: 10;
            }
            .arrow {
              transition: $transition-default;
              display: inline-block;
              font-size: 2rem;
              transform: translateX(-100%);
              color: black;
              z-index: 0;
              opacity: 0;
            }
            .cta-icon {
              font-size: 1.4rem;
              border: 1px solid $highlight-color;
              border-radius: 50%;
              padding: 0.4em 0.6em;
              background-color: $highlight-color;
              color: $secondary-bg-color;
              transition: $transition-default;
            }
          }
        }
      }
    }
  }
}

/* Submit Btn */
.main-contact-con .contact-right .cta {
  margin-top: 2.8em;
  width: 15em;
  border: 1px solid $highlight-color;
  border-radius: 50px;
  transition: $transition-default;
  cursor: pointer;
  margin-left: 0.5em;
  .cta-btn {
    display: flex;
    justify-content: space-between;
    font-size: larger;
    text-decoration: none;
  }
  .cta-txt {
    padding: 0.3em 0.3em;
    margin-left: 1em;
    font-weight: bolder;
    color: $highlight-color;
    transition: $transition-default;
    display: flex;
    justify-content: center;
    align-items: center;
    .arrow {
      opacity: 0;
      color: $secondary-bg-color;
      margin-left: 0em;
      transition: $transition-default;
    }
  }
  .cta-icon {
    font-size: 1.4rem;
    border: 1px solid $highlight-color;
    border-radius: 50%;
    padding: 0.4em 0.6em;
    background-color: $highlight-color;
    color: $secondary-bg-color;
    transition: $transition-default;
  }
  // hover test
  &:hover {
    background-color: $highlight-color;
    padding-left: 0.2em;
    .cta-txt {
      color: $secondary-bg-color;
    }
    .cta-icon {
      background-color: $secondary-bg-color;
      color: $highlight-color;
      transform: rotate(1080deg);
    }
    .arrow {
      opacity: 1;
      margin-left: 0.8em;
    }
  }
}

/* Mobile View Start */

@media only screen and (max-width: 1100px) {
  /* Our approach */
  .sec4 .section-info .approach-steps {
    display: none;
  }
}

// hopefully media queries work the same :^)
@media only screen and (max-width: 650px) {
  /* Header section */
  .header-content {
    align-items: flex-start;
    justify-items: flex-start;
    .right-header {
      max-width: 29em;
      padding-left: 0em;
      padding-top: 0.5em;
      min-width: 30em;
      h1 {
        font-size: 3rem;
      }
      .sub-title {
        font-size: 1.7em;
      }
      .header-about {
        font-size: 1.5rem;
      }
      p {
        margin-top: 1rem;
      }
    }
  }
  .control {
    margin: 0.5rem;
    &:hover .tooltip {
      opacity: 0;
    }
  }
  .controls {
    top: 93%;
    right: 40%;
    flex-direction: row;
    justify-content: center;
  }
  .control-nav {
    display: flex;
    flex-direction: row;
  }

  .right-header .services .logo {
    height: 6.5em;
    width: 6.5em;
    margin-left: -0.3em;
  }
  /* About us page - sec2 */

  section {
    padding: 3rem 4rem;
  }
  .sec2 .section-info .grid-container {
    display: block;
  }
  /* contact us page for mobile */
  .main-contact-con {
    display: block;
    margin-bottom: 5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 3rem 1rem;
    flex: 2;
  }
  .contact-left-header {
    font-size: 3rem;
    margin-top: 1rem;
    text-transform: uppercase;
  }
  .contact-left-text {
    margin: 1rem 0;
    line-height: 2rem;
  }
  .contact-right {
    display: flex;
    flex: 3;
    margin-left: 3rem;
    margin-top: 3rem;
  }
  .input-control {
    margin: 1.5rem 0;
  }
  .input-control textarea,
  .input-control input {
    border-radius: 30px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 1.1rem 1.1rem;
    margin: 0.1rem 0.3rem;
    border: 1px solid $dark-bg-color;
    background-color: $color-grey-3;
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    resize: none;
  }
  // Idk if i can nest a double hover?
  .input-control textarea:hover,
  .input-control input:hover {
    outline: 1px solid $highlight-color;
    transition: border 0.4s ease-in-out;
  }
  //   will look into pseudo element nesting
  .input-control textarea::before,
  .input-control input::after {
    position: absolute;
    background: #eee;
    z-index: -1;
    transition: 1s;
    content: "";
  }
  .input-control-2 {
    display: flex;
    // pseudo nesting
    :last-child {
      margin-left: 1.5rem;
    }
  }
  .contact-form ::placeholder {
    color: $color-grey-2;
    opacity: 0.9;
  }
  /* ***Independant Components*** */

  /* Submit Btn */

  #submit-btn {
    border: 1px solid $highlight-color;
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    width: 40%;
    position: relative;
    left: 60%;
    color: $color-grey-1;
    &:hover {
      cursor: pointer;
      background-color: $highlight-color;
      transition: $transition-default;
    }
    .btn-text:hover {
      margin-left: 0.3rem;
      transition: $transition-default;
    }
    .btn-icon:hover {
      --fa-bounce-start-scale-x: 1;
    }
  }
  .main-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .contact-right {
      margin-left: 0rem;
    }
  }
}
